
.card-centrada{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;

  mat-card{
    box-shadow: 5px 10px 18px #888888;
    mat-card-title, mat-card-content {
      display: flex;
      justify-content: center;
      mat-form-field {
        width: 100%;
        min-width: 300px;
      }
      .btnIngresar {
        width: 100%;
        background: #001529;
      }
    }
  }


}
