

<div class="container" style="top: 200%;">
  <div style="text-align:center">
    <h1>Sobre Nosotros</h1>
  </div>
</div>


<!-- <p>about works!</p> --> 
 <div class="container p-3">
<!--  <div class="card" >
<div  style="text-align:center;"> --> 

  

<mat-tab-group dynamicHeight mat-stretch-tabs class="example-stretched-tabs mat-elevation-z9" >

  
  <mat-tab label="Quienes somos" >
    <div  class="contenidoDiv" style="text-align:center">
      <img class="imagenNosotros" src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg" alt="Quienes Somos">
      <i><p>
        Somos una organización juvenil con el apoyo de profesionales de diferentes areas que contribuye con la sociedad a través del desarrollo de los jóvenes y las oportunidades en el entorno nacional.
      </p></i>
    </div>
  </mat-tab>



  <mat-tab label="Mision">
    <div  class="contenidoDiv" style="text-align:center">
      <img class="imagenNosotros" src="https://cdn.pixabay.com/photo/2017/08/02/00/57/laptop-2569306_960_720.jpg" alt="Mision">
      <i><p>
        Proporcionar a los jóvenes una plataforma  donde crecen en confianza, ganan experiencia y tal vez pueden fallar, pero aprender rápido. Descubren lo que realmente importa en ellos mientras crean un impacto social positivo
      </p></i>
    </div>
  </mat-tab>




  <mat-tab label="Vision">
    <div  class="contenidoDiv" style="text-align:center">
      <img class="imagenNosotros" src="https://cdn.pixabay.com/photo/2018/03/21/21/19/the-conference-3248255_960_720.jpg" alt="Vision">
      <i><p>
        Contribuir al desarrollo del potencial humano.
      </p></i>
    </div>
  </mat-tab>


  <mat-tab label="Valores">
    <div  class="contenidoDiv" style="text-align:center">
      <img class="imagenNosotros" src="https://cdn.pixabay.com/photo/2018/04/11/08/30/paper-3309829_960_720.jpg" alt="Valores">
      
      <p>
        <i>Excelencia </i><br><br>
        <i>Integridad </i><br><br>
        <i>Liderazgo </i><br><br>
        <i>Sostenibilidad </i><br><br>
        <i>Diversidad </i><br><br>
        <i>Participación </i><br><br>

      </p>
    </div>
  </mat-tab>


  <mat-tab label="Contacto">
    <div  class="contenidoDiv" style="text-align:center">
      <p>
        <mat-icon>call </mat-icon> <b>Teléfono: </b> 1234-5678 , 1111-3333 <br><br>
        <mat-icon>email </mat-icon> <b>Correo:</b> empresariosjuveniles@ingenieria.usac.edu.gt <br><br>
        <mat-icon>location_on </mat-icon> <b>Ubicación: </b> Ciudad Universitaria zona 12 Guatemala,Facualtad de Ingenieria <br><br>
      </p>
    </div>
  </mat-tab>


  
</mat-tab-group>


</div>

<!--</div>
</div> -->

