<!-- <div style="text-align: center;">
  <h1>Bienvenidos emprendedores</h1>
</div> 
<div>
<img class="imagenHome"src="https://cdn.pixabay.com/photo/2015/01/08/18/29/conference-table-593355_960_720.jpg" alt="Home">


  <h1 style="text-align: center;">Bienvenidos emprendedores</h1>


</div>  -->

<!--
<div class="contenedor" >
  <img  class="imagenHome" 
  src="https://cdn.pixabay.com/photo/2020/01/08/03/55/sunset-4749228_960_720.jpg" />
  
  <div ><h1 class="texto">Bienvenidos, este es un espacio para ustedes
    jovenes emprendedores que quieren y tinene la idea de un proyecto  con ayuda de profesionales. </h1></div>
</div> -->

<div class="container p-3">
<mat-card class="example-card">
  <mat-card-header >
   <mat-card-title  class="textoHeader" > <p class="textoP">Empresarios Juveniles</p></mat-card-title>
    <mat-card-subtitle><p class="textoP">Universidad de San Carlos de Guatemala</p></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  src="https://cdn.pixabay.com/photo/2020/01/08/03/55/sunset-4749228_960_720.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="textoP">
    Bienvenidos estudiantes de la facultad de ingenieria , este es un espacio para ustedes
    jovenes emprendedores que necesitan y desean ser orientados por profesionales dispuestos a ayudar en todo el proceso para emprender y llevar a cabo un proyecto o idea que tiene en mente.
    </p>
  </mat-card-content>
  <br>
</mat-card>

</div>

<!-- VIDEOS -->

<div class="container p-3" style="background-color:mediumseagreen; color: white; height: 45px;">
<p style="text-align: center; font-size: x-large;">Videos</p>
</div>

 
<div class="container p-3">
  <div class="row "> 
      <div class="row justify-content-center">  
        
        <div  class="card mx-3 my-4"  style="width: 18rem; background-color: khaki;" >
        <mat-card >
          <mat-card-header class="textoHeader" >
            <mat-card-title  class="textoHeader" ><p class="textoP">Que es Marketing</p></mat-card-title>
            <mat-card-subtitle><p class="textoP">Recuperado de youtube</p></mat-card-subtitle>
          </mat-card-header>
          
          <a href="https://www.youtube.com/watch?v=ZSkZs_OtkkQ">
          <img mat-card-image src="https://cdn.pixabay.com/photo/2017/07/08/09/12/marketing-2483861_960_720.jpg" alt="que es marketing">
        </a>
        
        </mat-card>
      </div>

       
      <div  class="card mx-3 my-4"  style="width: 18rem; background-color: khaki;" >
        <mat-card >
          <mat-card-header class="textoHeader" >
            <mat-card-title  class="textoHeader" ><p class="textoP">Que es un emprendedor</p></mat-card-title>
            <mat-card-subtitle><p class="textoP">Recuperado de youtube</p></mat-card-subtitle>
          </mat-card-header>
          
          <a href="https://www.youtube.com/watch?v=bL3tCdzBASE">
          <img mat-card-image src="https://cdn.pixabay.com/photo/2017/12/20/04/52/entrepreneurship-3029226_960_720.jpg" alt="que es un emprendedor">
        </a>
        
        </mat-card>
      </div>


      <div  class="card mx-3 my-4"  style="width: 18rem; background-color: khaki;" >
        <mat-card >
          <mat-card-header class="textoHeader" >
            <mat-card-title  class="textoHeader" ><p class="textoP">Modelo de negocio</p></mat-card-title>
            <mat-card-subtitle><p class="textoP">Recuperado de youtube</p></mat-card-subtitle>
          </mat-card-header>
          
          <a href="https://www.youtube.com/watch?v=kEg8nh9_AvI">
          <img mat-card-image src="https://cdn.pixabay.com/photo/2018/03/27/21/43/startup-3267505_960_720.jpg" alt="modelo de negocio">
        </a>
        
        </mat-card>
      </div>


      <div  class="card mx-3 my-4"  style="width: 18rem; background-color: khaki;" >
        <mat-card >
          <mat-card-header class="textoHeader" >
            <mat-card-title  class="textoHeader" ><p class="textoP">Hablar en publico</p></mat-card-title>
            <mat-card-subtitle><p class="textoP">Recuperado de youtube</p></mat-card-subtitle>
          </mat-card-header>
          
          <a href="https://www.youtube.com/watch?v=3FvHSBU2h0U">
          <img mat-card-image src="https://cdn.pixabay.com/photo/2019/01/11/01/54/public-speaking-3926344_960_720.jpg" alt="hablar en publico">
        </a>
        
        </mat-card>
      </div>
      

   </div>
   </div>
</div>  

<!-- NOTICIAS -->
<div class="container p-3" style="background-color:mediumseagreen; color: white; height: 45px;">
  <p style="text-align: center; font-size: x-large;">Documentos de Apoyo</p>
  </div>

  <div class="container p-3">
    <div class="row "> 
        <div class="row justify-content-center">  
          
          <div  class="card mx-3 my-4"  style="width: 18rem; background-color: khaki;" >
          <mat-card >
            <mat-card-header class="textoHeader" >
              <mat-card-title  class="textoHeader" ><p class="textoP">Business Model Canvas</p></mat-card-title>
              <mat-card-subtitle><p class="textoP">Recuperado de la web</p></mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-actions style="text-align: center;">
              <a href="https://www.negociosyemprendimiento.org/2012/08/business-model-canvas-herramienta-modelos-de-negocio.html">
              <button mat-raised-button color="primary">Ir a la publicacion</button>
            </a>
            </mat-card-actions>
          </mat-card>
        </div>


        <div  class="card mx-3 my-4"  style="width: 18rem; background-color: khaki;" >
          <mat-card >
            <mat-card-header class="textoHeader" >
              <mat-card-title  class="textoHeader" ><p class="textoP">Pasos para emprender</p></mat-card-title>
              <mat-card-subtitle><p class="textoP">Recuperado de la web</p></mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-actions style="text-align: center;">
              <a href="https://www.entrepreneur.com/article/273908">
              <button mat-raised-button color="primary">Ir a la publicacion</button>
            </a>
            </mat-card-actions>
          </mat-card>
        </div>


        

        </div>
      </div>
    </div>