

$category_color_life: orangered;
$category_color_sport: blue;
$category_color_style: red;

$default_white: whitesmoke;
$default_black: #000;
$file_white: #ccc;
$card_background: #66636b;

$button_purpure: #451e89;


.profile-card{
  width: 80%;
  height: 150vh;
  margin-left: 110px;
  box-shadow: 5px 10px 18px #888888;

  .label{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    margin: 20px;
    text-align: center;
    border-radius: 50%;
    
    p{
      position: absolute;
      width: 100%;
      background:$button_purpure;
      color: $default_white;
      text-transform: uppercase;
      transition: all 0.5s ease;
    }
    img{
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 2px solid $default_white;
      &:hover{
        border: 2px solid $button_purpure;
        cursor: pointer;
      }
    }
  }

  .bottom{
    p{
      bottom: -50%;
    }
    &:hover p{
      bottom: 0%;
    }
  }


  mat-card-header{
    justify-content: center;
  }

  mat-form-field,
  input.mat-flat-button{
    width: 60%;
    display: block;
    margin: 0 auto;
    font-size: medium;
  }
  input.mat-flat-button{
    background:midnightblue;
    padding: 0.4rem;
    color: #fff;
  }
  .mat-dialog-actions{
    width: 100%;
    min-height: 150px;
    margin-top: 3rem;
  }
}