<div class="card-centrada">
  <mat-card >
    <mat-card-title>
      Registro
    </mat-card-title>
    <mat-card-content style="margin-top: 25px ;">
      <form (ngSubmit)="onRegister()">

          <mat-form-field appearance="fill" style="margin-right: 30px;">
            <mat-label>CUI</mat-label>
            <input matInput placeholder="CUI" name="cui" [(ngModel)]="nuevo.cui" required type="number" >
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Carnet</mat-label>
            <input matInput placeholder="Carnet" name="carnet" [(ngModel)]="nuevo.carnet" required type="number" >
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 30px;">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Nombres" name="nombre" [(ngModel)]="nuevo.nombres" required>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" name="apellidos" [(ngModel)]="nuevo.apellidos" required>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 30px;">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" name="telefono" [(ngModel)]="nuevo.telefono" required type="tel" >
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="pat@example.com" name="correo" [(ngModel)]="nuevo.correo" required>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 30px;">
            <mat-label>Contraseña</mat-label>
            <input matInput  [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput  [type]="hide2 ? 'password' : 'text'" name="password2" [(ngModel)]="password2" required>
            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

        <div class="text-center">
          <button type="submit" mat-raised-button color="accent" style="width: 50%;">
            <mat-icon style="margin-right: 5px;">save</mat-icon> Guardar
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

